<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
     <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
     </settings>
     <typeAliases>
		  <!-- 指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean-->
		  <package name="com.test.cn.model" />
  </typeAliases>
  <plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
     <!-- https://pagehelper.github.io/docs/howtouse/ -->
     <property name="reasonable" value="true"/>
	</plugin>
</plugins> 
  </configuration>